.footerToDo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 432px;
    height: 40px;
    background-color: transparent;
    margin-top: 17px;
    border: 1px solid #3e1671;
    border-radius: 8px;
    color: #abaaaa;
    padding: 10px;
}

.deleteBtns{
    display: flex;
    column-gap: 8px;
}

.deleteBtns button{
    padding: 4px 12px;
    outline: none;
    border-radius: 22px;
    border: none;
    background-color: red;
    color: #e0d8d8;
    font-size: 15px;
    transition: all,.1s;
    &:active{
        transform: scale(.9);
        background-color: rgb(0, 69, 0);
        color: red;
    }
}